{% extends 'base.html.twig' %}

{% block title %}Supprimer la loi{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Supprimer la loi</h1>

    <p>Voulez-vous vraiment supprimer cette loi ?</p>

    <a href="/law/delete/confirm/{{ id }}">oui</a>
    <a href="/law">non</a>
</div>
{% endblock %}